<div fxLayout="column wrap" fxLayoutAlign="stretch center" fxFlex="100">
    <div class="mat-elevation-z8" fxFlex="80">
        <div style="margin: 0 30px;" fxLayout="row nowrap" fxLayoutAlign="center start" fxFlex="100">
            <h3 style="text-align: center;">Find a Hospital near you: </h3>
            <div class="searchBar fadeInDown" fxLayout="row nowrap" fxLayoutAlign="center start" fxFlex="100">
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </div>
        </div>

        <div *ngIf="!dataSource" style="margin: 0 auto;text-align: center;">
            <p>Fetching list of Hospitals...</p>
            <p *ngIf="noInternet">Cannot Reach Network</p>
        </div>

        <!-- <div class="provinces">
            <div class="province" *ngFor="let province of provinces">
                <h5>{{province.province}}</h5>
                <p>{{province.number}} <span style="font-size: xx-small;">Hospitals</span></p>
            </div>
        </div> -->

        <div class="hospitalContainer" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8">

                <ng-container matColumnDef="Name" sticky>
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.Name}} <br>
                        <a href="https://www.google.com/maps/@{{element.Lat}},{{element.Long}},18.5z"
                            target="_blank">Get Location <mat-icon style="font-size: 15px;">location_on</mat-icon></a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="District">
                    <th mat-header-cell *matHeaderCellDef> District </th>
                    <td mat-cell *matCellDef="let element"> {{element.district}} </td>
                </ng-container>

                <ng-container matColumnDef="Province">
                    <th mat-header-cell *matHeaderCellDef> Province </th>
                    <td mat-cell *matCellDef="let element"> {{element.Province}} </td>
                </ng-container>

                <ng-container matColumnDef="Subdistrict">
                    <th mat-header-cell *matHeaderCellDef> Subdistrict </th>
                    <td mat-cell *matCellDef="let element"> {{element.subdistrict}} </td>
                </ng-container>

                <ng-container matColumnDef="Category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
                </ng-container>

                <ng-container matColumnDef="Long">
                    <th mat-header-cell *matHeaderCellDef> Long </th>
                    <td mat-cell *matCellDef="let element"> {{element.Long}} </td>
                </ng-container>

                <ng-container matColumnDef="Lat">
                    <th mat-header-cell *matHeaderCellDef> Lat </th>
                    <td mat-cell *matCellDef="let element"> {{element.Lat}} </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div *ngIf="dataSource">
                <mat-paginator #paginator 
                
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>

    </div>
</div>