<!-- <div class="articles" fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="100" fxFill>
    <div class="article" fxLayout="column wrap" *ngFor="let article of articles" (click)="openArticle(article)"
        >
        <mat-card>
            <mat-card-content>

                <h3>{{article.title.rendered}}</h3>
                <h6>Posted on {{article.date}}</h6>
                <div>
                   <span>{{article.excerpt.rendered}}</span> 
                    <div [innerHtml]="article.excerpt.rendered | slice:0:250"></div>
                </div>


            </mat-card-content>

        </mat-card>
    </div>
</div> -->