/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");

$primary: #00838f;
$light: #4fb3bf;
$dark: #3a3a3a;
$lightBlack : rgba(0, 0, 0, 0.54);

html,
body {
  height: 100%;
  //   background-image: linear-gradient($dark,$light);
  background-repeat: no-repeat;
}
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  color: $light;
  text-decoration: none;
}

.caseNumber {
  font-size: 6vw;
  margin: 0;
  color: $lightBlack;
  font-weight: inherit;
}
.navabr {
  background-color: $primary;
}

.navabr h1 {
  margin: 0;
  text-align: center;
  color: white;
  outline: none;
}

.casesTitle {
  // display: flex;
  margin: 0 auto !important;
  background: $light;
  padding: 15px 40px;
  color: white;
}

.casesTitle p,
.casesTitle h2 {
  margin: 0 !important;
}

.blockContainers,
.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.blockInfo {
  flex: 1;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  color: white;
  border: 1px solid $light;
  min-width: 100px;

  h3 {
    background: $light;
    margin: 0 !important;
    padding: 10px;
  }

  p {
    font-size: 5vw;
    margin: 0 !important;
    color: black;
  }
}

.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.mat-chip {
  overflow: inherit !important;
  margin: 10px 4px !important;
}

.social {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px 30px;
}

.social a {
  text-decoration: none;
  color: $primary;
}

.searchBar {
  display: flex;
  margin-top: 20px !important;
  // border: 1px $dark solid;
  padding-left: 2px;
  max-width: 220px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 -2px 5px -1px rgba(0, 0, 0, 0.15), 0 0px 2px 0px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15),
    0 5px 8px rgba(0, 0, 0, 0.15);
  padding: 1px;
}

.searchBar input,
.searchBar input:focus,
.mat-option-text {
  border: none;
  outline: none;
  // text-align: center !important;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 3px;
}

@media only screen and (max-width: 600px) {
  .caseNumber {
    font-size: 10vw;
  }
  h3 {
    font-size: 3vw;
  }

  // .casesTitle p {
  //   font-size: 7vw !important;
  // }

  .casesTitle p {
    font-size: 15px !important;
  }
}

.logo {
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
}

.menuBtn {
  width: 40px;
  height: auto;
  top: 0;
  right: 0;
  position: absolute;
  margin: 10px;
  background: none;
  border: none;
  color: white;
  outline: none;
}

.menuIcons {
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.menuItem {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 3px;
  border-bottom: transparent 3px solid;
  outline: none;
  cursor: pointer;
  padding-bottom: 10px;
  padding-right: 15px;
}

.activeMenu {
  border-bottom: #23ddf1 3px solid;
  color: #23ddf1;
}

.menuIcons p {
  margin: 0px 8px 0 2px;
  width: fit-content;
}

.menuBtn:active {
  box-shadow: 0px 0px 3px 1px $light;
}

.infoBtn {
  height: 30px;
  width: 30px;
  font-size: 34px;
  color: $light;
  margin-left: 20px;
  cursor: pointer;
}

.mat-tab-body {
  padding: 12px;
}

.articleContainer {
  display: flex;
  padding: 20px;
  // flex-wrap: wrap;
}

.articleHeader {
  text-align: center;
  background: url("./assets/corvid19numbers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height: 190px;
  // padding: 90px 0;
}

.articleHeader h2 {
  font-size: 3vw;
}

.articleHeader h3 {
  font-size: 2vw;
}

.articleHeaderOverlay {
  background: #000000c7;
  padding: 30px;
}

.articleHeader h2,
.articleHeader h3 {
  margin: 0 !important;
  color: white;
}

.article {
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .newUInumbers {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .articleContainer {
    flex-wrap: wrap;
  }

  .menuItem {
    padding-right: 0px;
  }

  .menuIcons {
    position: fixed;
    bottom: 0;
    background-color: #00838f;
    width: 100%;
    z-index: 5;
    box-shadow: 0px -1px 14px 5px #b5b5b5c7;
  }

  .blockContainers {
    display: none;
  }
}

.mat-button-toggle-checked {
  background-color: $light;
  color: white !important;
}

.NumberBlock {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: $light;
  margin: 5px 0;
  max-height: 60px;
  padding: 0px 20px;
}

.NumberBlock h3 {
  font-size: 4vw;
  font-weight: 500;
  margin: 20px 0;
}

.NumberBlock p {
  font-size: 6vw;
  margin: 5px !important;
  color: $lightBlack;
}

.NumberBlock fa-icon {
  padding: 18px 0;
  font-size: 25px;
  color: $lightBlack;
}

.caseNumberBlock {
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(121, 117, 117, 0.33), -5px 0px 5px #2aa6b58a;  //#63cdda70;
  width: 120px;
  text-align: center;
}

.caseNumberBlock p {
  color: white;
}

//===============================
// animation
//===============================

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation: fadeInDown 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp 0.5s;
}

/// Loader

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid $light;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation: bounce 1s;
  transform-origin: center bottom;
}
