<div class="container" fxLayout="row wrap" fxLayout.lt-md="column" fxFlex="100" fxFill>
    <div fxLayout="column wrap">
        <div style="padding-top: 10px;" fxLayout="column wrap" style="text-align: center;"
            fxLayoutAlign="space-evenly center">
            <div class="searchBar fadeInDown" fxLayout="row nowrap" fxLayoutAlign="center start" fxFlex="100">
                <input MatInput type="text" style="max-width: 170px;" placeholder="Search for a Country" matInput
                    [formControl]="searchCountry" [matAutocomplete]="countryResult" #searchTerm>
                <div fxLayout="column wrap" fxLayoutAlign="center center" fxFlex="10" (click)="clearText()"
                    style="padding: 4px 0;display: flex;cursor: pointer;">
                    <mat-icon>clear</mat-icon>
                </div>
                <!-- <mat-icon [routerLink]="['/information']" class="infoBtn bounce">info_outline</mat-icon> -->

            </div>
            <div fxLayout="row nowrap" style="overflow-x: auto; overflow-y: hidden; width: 300px;margin: 0 auto;"
                class="countriesChipList">
                <mat-chip-list *ngIf="countries">
                    <mat-chip [disableRipple]="true" (click)="updateCountry(country.country,searchTerm);clearText()"
                        *ngFor="let country of countries">{{country.country}}</mat-chip>
                </mat-chip-list>
            </div>
            <mat-autocomplete (optionSelected)="updateCountry($event.option.value,searchTerm)" autoActiveFirstOption
                #countryResult="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" #selectedCountry [value]="option.country">
                    {{ option.country }}
                </mat-option>
            </mat-autocomplete>
        </div>
        <mat-card>
            <div *ngIf="!data" style="margin: 0 auto;text-align: center;">
                <div class="lds-ripple">
                    <div></div>
                    <div></div>
                </div>
                <p *ngIf="noInternet">Cannot Reach Network</p>
            </div>
            <!-- <mat-card-header > -->
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <div class="casesTitle" fxLayout="row wrap" style="text-align: center;" *ngIf="data">
                <div fxLayout="column wrap" fxFlex="1">
                    <h2>{{data.country}}</h2>
                    <p>Number of Reported Cases</p>
                </div>
                <div fxLayout="column wrap" fxFlex="1">
                    <mat-card-subtitle class="caseNumber">{{data.cases}}</mat-card-subtitle>
                    <p>Cases per one million : {{data.casesPerOneMillion}}</p>
                    <!-- <div fxLayout="row" fxLayoutAlign="center center">
                    <p>Updated on {{updated}}</p>
                    <mat-icon (click)="getInfo()">refresh</mat-icon>
                    </div> -->
                </div>
            </div>

            <!-- </mat-card-header> -->

            <mat-card-content class="blockContainers" fxLayout="column wrap" *ngIf="data">
                <div class="content" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                    <div class="blockInfo" fxLayout="column wrap">
                        <h3>New Cases Today</h3>
                        <p>{{data.todayCases}}</p>
                    </div>
                    <div class="blockInfo" fxLayout="column wrap">
                        <h3>Active Cases</h3>
                        <p>{{data.active}}</p>
                    </div>
                    <div class="blockInfo" fxLayout="column wrap">
                        <h3>New Deaths Today</h3>
                        <p>{{data.todayDeaths}}</p>
                    </div>
                </div>
                <div class="content" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                    <div class="blockInfo" fxLayout="column wrap">
                        <h3>Recovered</h3>
                        <p>{{data.recovered}}</p>
                    </div>
                    <div class="blockInfo" fxLayout="column wrap">
                        <h3>Critical Cases</h3>
                        <p>{{data.critical}}</p>
                    </div>
                    <div class="blockInfo" fxLayout="column wrap">
                        <h3>Deaths</h3>
                        <p>{{data.deaths}}</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="articlesContainer" #articles id="articles" fxLayout="column wrap">
            <app-graphs></app-graphs>
        </div>

    </div>
</div>